/* 	----------------------------------------------------------------------------
	CSS reset by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
	---------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	----------------------------------------------------------------------------
	Font face declarations
	---------------------------------------------------------------------------- */

/*
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local('Inconsolata'), url(../fonts/Inconsolata.otf);
}
*/

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(../fonts/UbuntuMono-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/UbuntuMono.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'), url(../fonts/UbuntuMono-Bold-Italic.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(../fonts/UbuntuMono-Italic.woff) format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/SourceSansPro-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url(../fonts/SourceSansPro-Bold-Italic.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/SourceSansPro-Italic.woff) format('woff');
}

/* 	----------------------------------------------------------------------------
	Generic styles
	---------------------------------------------------------------------------- */

body {
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 740px;

	background: rgb(215, 125, 235);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 220)));
	background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 220));
	background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 220));
	background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 220));
	background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 220));
	background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 220));
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.step {
	position: relative;
	width: 900px;
	padding: 40px;
	margin: 20px auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	line-height: 1.4;
}

.impress-enabled .step {
	margin: 0;
	opacity: 0;

	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

.impress-enabled .step.past {
	opacity: 0.2;
}

.impress-enabled .step.active {
	opacity: 1;
}

#menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	color: #EEE;
	text-align: center;
	padding: 10px;
	z-index: 100;
}

#overview {
	display: none;
}

.impress-enabled.impress-on-overview .step {
	opacity: 1;
	cursor: pointer;
	-webkit-transition: background-color linear 0.3s;
	-moz-transition: background-color linear 0.3s;
	-o-transition: background-color linear 0.3s;
	transition: background-color linear 0.3s;
}

.impress-enabled.impress-on-overview .step:hover {
	background-color: rgba(0,0,0,0.25);
}

.step h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	line-height: 1.25;
	margin-bottom: 1em;
}

.step h1 + h2 {
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
	line-height: 1.5;
	color: #999;
	margin-top: -2em;
}

.step ul li {
	margin-bottom: 0.4em;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.step p {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.step .sub {
	font-size: 0.66em;
}

.slide {
	display: block;
	width: 900px;
	height: 700px;
	padding: 40px 60px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	color: rgb(102, 102, 102);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}



